@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Georama:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.contact {
  color: #4a4747;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  position: relative;

   padding-bottom: 50px;
  .body {
    padding-top: 10px;
    width: 100%;
    max-width: 1800px;
    background-color: #f9f9f9;


    .title {
      border-bottom: 1px solid rgb(134, 134, 134);
      padding-bottom: 100px;
      margin-left: 200px;
      margin-right: 200px;
      position: relative;
      span {
        display: flex;
        align-items: center;
        .imageContainer {
          width: 100px;
          height: 100px;
          position: relative;
          border-radius: 50%;
          overflow: hidden;

          img {
            object-fit: cover;
          }
        }
        h2 {
          margin-left: 0.3em;
        }
      }
      h2 {
        font-size: 40px;
        margin: 0px;
        font-weight: 200;
        // font-family: var(--font-bebasneue);
        font-family: "Montserrat", sans-serif !important;


      }
      .buttonContainer {
        position: absolute;
        left: calc(100% - 400px);
        top: calc(100% - 75px);
      }
      .button {
        width: 180px;
        height: 180px;
        background-color: #bebebe;
        color: white;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        p {
          margin: 0px;
          font-size: 16px;
          font-weight: 300;
          z-index: 2;
          position: relative;
          font-family: "Montserrat", sans-serif !important;
        }
      }
      svg {
        position: absolute;
        top: 30%;
        left: 100%;
      }
    }
    .nav {
      display: flex;
      gap: 20px;
      margin-top: 100px;
      margin-left: 200px;
      margin-right: 200px;
    }
    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 200px;
      padding: 20px;

      div {
        display: flex;
        gap: 10px;
        align-items: flex-end;
        p,
        h3 {
          margin: 0px;
          padding: 2.5px;
          cursor: pointer;
        }
        p {
          &::after {
            content: "";
            width: 0%;
            height: 1px;
            background-color: white;
            display: block;
            margin-top: 2px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.2s linear;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
        span {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
        h3 {
          color: grey;
          cursor: default;
          font-weight: 300;
          font-size: 1em;
        }
      }
    }
  }
}

.description {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;
  height: 400px;
  position: relative;
  z-index: -1;
  background-color: #f9f9f9;
  padding-top: 400px;
  .body {
    max-width: 1400px;
    display: flex;
    gap: 50px;
    position: relative;
    margin-top: 50px;
    p {
      margin: 0px;
      font-family: "Montserrat", sans-serif ;
      &:nth-of-type(1) {
        font-size: 32px;
        gap: 8px;
        line-height: 1.3;
        font-family: var(--font-bebasneue);
        color:#727272;

        span {
          margin-right: 3px;
        }
        .mask {
          position: relative;
          overflow: hidden;
          display: inline-flex;
        }
      }
      &:nth-of-type(2) {
        font-size: 18px;
        width: 80%;
        font-weight: 300;
      }
    }
    .button {
      top: 30%;
      left: calc(100% - 200px);
      width: 180px;
      height: 180px;
      background-color: #4a4747;
      color: white;
      border-radius: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      p {
        margin: 0px;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        z-index: 1;
        font-family: "Montserrat", sans-serif !important;
      }
    }
  }
  .moreWork {
    padding: 20px;
    border-radius: 40px;
    border: 1px solid grey;
  }
}
