.slidingImages {
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
  margin-top: 50px;
  background-color: white;
  z-index: 1;
  .slider {
    display: flex;
    position: relative;
    gap: 0px;
    width: 150vw;
    left: -10vw;
    .project {
      width: 25%;
      height: 25vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .imageContainer {
        position: relative;
        width: 95%;
        height: 80%;

        img {
          object-fit: cover;
        }
      }
    }
  }
  .circleContainer {
    position: relative;
    margin-top: 100px;
    .circle {
      height: 1050%;
      width: 120%;
      left: -10%;
      border-radius: 0 0 50% 50%;
      background-color: white;
      z-index: 1;
      position: absolute;
      box-shadow: 0px 60px 50px #ededed;
    }
  }
}
