@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Georama:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background-color: white;
  height: 60px;
  position: absolute;
  top: 0;
  transition: 0.5s height;
  z-index: 1000;
  font-weight: 200 !important;


  .navigation {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 90px;



      p {
        font-size: 30px;
        color: #4a4747;
        font-weight: 200;
        font-family: "Montserrat", sans-serif !important;
      }
 

    .burgerMenuContainer {
      content: "";
      width: 55px;
      height: 25px;
      position: relative;
      right: 0;
      cursor: pointer;
  

      .burgerMenuTrigger {
        content: "";
        width: 55px;
        height: 25px;
        position: relative;
        right: 0;
        cursor: pointer;
        z-index: 100;
      }

      .burgerMenu {
        content: "";
        background: black;
        position: absolute;
        width: 40px;
        height: 1.5px;
        z-index: 0;
        top: calc(25px / 2 - 1.5px);
        transition: 0.25s width ease-in-out, 0.5s background-color ease-in-out;
      }

      .burgerMenu::after {
        content: "";
        background-color: black;
        position: absolute;
        width: 40px;
        height: 1.5px;
        transform: translateY(10px);
        z-index: 0;
        transition: 0.25s transform ease-in-out,
          0.5s background-color ease-in-out;
      }

      .burgerMenu::before {
        content: "";
        background-color: black;
        position: absolute;
        width: 40px;
        height: 1.5px;
        transform: translateY(-10px);
        z-index: 0;
        transition: 0.25s transform ease-in-out,
          0.5s background-color ease-in-out;
      }

      .burgerMenuTrigger:hover ~ .burgerMenu {
        width: 35px;
      }
    }
  }

  .content {
    position: absolute;
    top: 30vh;
    display: none;

    ul {
      list-style: none;

      li {
        padding: 1rem 0;

        a {
          font-family: "Montserrat", sans-serif !important;
          font-size: 15px;
          color: #281a0f;
          transition: 0.25s color;
          font-weight: 400 !important;

        }

        a:hover {
          color: rgb(127, 127, 127);
          transition: 0.25s color;
        }
      }
    }
  }
}

.navbar.active {
  background-color: #f9f9f9;
  transition: 0.75s height;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;


  .navigation {
    .button {
      color: white;
      transition: 0.5s color;
    }
    .burgerMenuContainer {
      .burgerMenu {
        width: 0;
        background-color: black;
        transition: 0.25s width ease-in-out, 0.25s background-color ease-in-out;
      }

      .burgerMenu::after {
        transform: translateY(0px) rotate(135deg);
        background-color: black;
        transition: 0.25s transform ease-in-out,
          0.25s background-color ease-in-out;
      }

      .burgerMenu::before {
        transform: translateY(0px) rotate(-135deg);
        background-color: black;
        transition: 0.25s transform ease-in-out,
          0.25s background-color ease-in-out;
      }

      .burgerMenuTrigger:hover ~ .burgerMenu {
        width: 0px;
      }
    }
  }
  .content {
    display: initial;
  }
}

.navbar.visible {
  opacity: 1;
  transform: none;
}

/* Estilos para la clase hidden */
.navbar.hidden {
  opacity: 0;
  transform: translateY(-100%);
}
